.tabs
    .tab
        .tab-image 
            img(src="./img/image-moon.png", alt="MOON")
        .tab-content 
            .tab-title MOON
            .tab-text See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
        .tab-footer
            .tab-footer-item
                h4.tab-footer-title AVG. DISTANCE
                .tab-footer-text 384,400 km
            .tab-footer-item
                h4.tab-footer-title Est. travel time
                .tab-footer-text 3 days

