doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend Mentor | Space tourism website
        link(rel="shortcut icon", sizes="32x32", href="./img/favicon-32x32.png", type="image/png")
        link(rel="stylesheet", href="./css/style.min.css")
    body
        section.destination 
            include header/header.pug
            .container
                h2.destination-title 
                    span 01 
                    |Pick your destination
                include tabs/tabs.pug