doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", sizes="32x32", href="./img/favicon-32x32.png", type="image/png")
        link(rel="stylesheet", href="./css/style.min.css")
        title Frontend Mentor | Space tourism website
    body
        main
            include header/header.pug 
            .container 
                .main-content 
                    .main-text 
                        h2.main-subtitle SO, YOU WANT TO TRAVEL TO
                        h1.main-title SPACE
                        p.main-description Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
                    a.main-button(href="#") EXPLORE

        script(src="./js/main.min.js") 