/*Global styles*/
*{
    box-sizing: border-box;
}
main,section,header,footer{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration:none;
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,p{
    margin: 0;
}
img{
    width: 100%;
}




main{
    position: relative;
    padding-top: calc(100vh * 0.43);
    background-image: url(../img/background-home-desktop.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100vh;
    color: $white;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.main-text{
    max-width: 450px;
}
.main-subtitle{
    @include Heading5;
}
.main-title{
    @include Heading1;
}
.main-description{
    @include BodyText;
}
.main-button {
    position: relative;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include Heading4;
    color: $dark;
    letter-spacing: 2px;
  z-index: 4;
}
.main-button::after{
  content: '';
  display: block;
  position: absolute;
  top: -30%;
  right: -30%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.1;
  transition: background 0.3s ease-in;
  z-index: 1;
}
.main-button:hover::after{
    background:$white;
}

/*Destination*/
.destination{
    height: 100vh;
    padding-top: 15%;
    background-image: url(../img/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.destination-title{
    @include Heading5;
    color: $white;
    text-transform: uppercase;
}
.destination-title span{
    font-weight: bold;
    opacity: 0.25;
}