.header{
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    margin-left: 55px;
}
.header-nav{
    position: relative;
    width: 58%;
    padding: 2.45em 0px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    @include NavText;
}
.header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav ul li{
    margin: 0 1.5em;
}
.header-nav ul li span{
    font-weight: bold;
}
.header-nav::before{
    top:50%;
    left:-52%;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 57%;
    background-color: $white;
    opacity: 0.25;

}