header.header 
    .header-logo 
        img(src="./img/logo.svg", alt="logo")
    nav.header-nav 
        ul 
            li.active
                a(href="#") 
                    span 00 
                    |HOME
            li
                a(href="destination.html") 
                    span 01 
                    |DESTINATION
            li
                a(href="#") 
                    span 02 
                    |CREW
            li
                a(href="#")
                    span 03 
                    |TECHNOLOGY